/* Write your CSS here */
body {
  margin: 0px;
}
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin-top: 0px;
  color: #2d3a35;
  font-family: 'Roboto';
  font-weight: 500;
}
.count-value {
  color: #c20a72;
  text-align: center;
}
.paragraph {
  color: #2d3a35;
  font-family: 'Roboto';
  font-weight: 300;
}
.button {
  color: #ffffff;
  height: 40px;
  width: 80px;
  border-width: 0px;
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
